<div class="row">
  <div class="col-md-12">
    <h1>Kittens#index</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
	<tr>
	  <th>Name</th>
	  <th>Age</th>
	  <th>Cuteness</th>
	  <th>Softness</th>
	  <th></th>
	</tr>
      </thead>
      <tbody>
	<% @kittens.each do |kitten| %>
	  <tr>
	    <td><%= link_to kitten.name, kitten %></td>
	    <td><%= kitten.age %></td>
	    <td><%= kitten.cuteness %></td>
	    <td><%= kitten.softness %></td>
	    <td><%= link_to 'Delete', kitten_path(kitten), method: :delete %></td>
	  </tr>
	<% end %>
      </tbody>
    </table>
  </div>
</div>
