<div class="row">
  <div class="col-md-12">
    <h1>Kitten <%= @kitten.id %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
	<tr>
	  <th>Name</th>
	  <th>Age</th>
	  <th>Cuteness</th>
	  <th>Softness</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td><%= @kitten.name %></td>
	  <td><%= @kitten.age %></td>
	  <td><%= @kitten.cuteness %></td>
	  <td><%= @kitten.softness %></td>
	</tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= link_to 'Delete', kitten_path(@kitten), method: :delete %>
  </div>
</div>
